SECRET_KEY=YOUR_SECRET_KEY
DEBUG=YOUR_DEBUG

NAME=YOUR_NAME
USER=YOUR_USER
PASSWORD=YOUR_PASSWORD
HOST=YOUR_HOST
PORT=PORT

STRIPE_API_KEY=your_stripe_secret_key
STRIPE_PUBLIC_KEY=your_stripe_public_key

REDIS_URL=redis://redis:6379/0
